.button-box-container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: rgba(16, 16, 21, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  z-index: 9999;
}

.button-box-link {
  margin: 0 10px;
}

.button-box-image {
  width: 35px;
  height: 35px;
}

.button-box-image:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Adjust the color and intensity of the glow */
  transition: transform 0.3s ease; /* 添加过渡效果，使放大动画更平滑 */
  animation: pulse 1s infinite alternate; /* Apply the animation */
}

/* Animation keyframes for pulsing effect */
@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.9); /* Adjust the final glow effect */
  }
}
