.about-root {
  min-height: 100vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.card {
  padding-top: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;

  min-height: 100vh;
  border: 1px solid black;
}

.wrapper {
  place-items: center;
}

.about-title {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 60px;
}

.nextBtn {
  position: absolute;
  border: none;
  bottom: 2rem;
  right: 50%;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  height: auto;
  z-index: 99;
}

.nextBtn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgba(16, 16, 21, 0.5);
  border-radius: 1.625rem;
}

.nextBtn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.nextBtn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.85rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.nextBtn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(135deg);
}

.nextBtn:hover .circle .icon.arrow {
  transform: translate(0, 1rem);
}

.highlight {
  font-size: xx-large;
  color: Blue;
}

#programmer {
  background-image: url("../Images/coffee.jpg");
  background-size: cover;
  background-position: center;
}

#coach {
  background-image: url("../Images/badminton.jpg");
  background-size: cover;
  background-position: center;
}

#sushi {
  background-image: url(../Images/sushi.jpg);
  background-size: cover;
  background-position: center;
}

#gamer {
  background-image: url(../Images/gamer.jpg);
  background-size: cover;
  background-position: center;
}

.programmer-div {
  position: absolute;
  max-width: 35vw;
  left: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about-icon {
  transition: scale 100ms ease-in-out;
}

.about-icon:hover {
  scale: 1.2;
}

.badminton-div p {
  color: white;
}
