.navbar-div {
  position: relative;
  width: 100%;
}

nav {
  justify-content: space;
  align-items: center;
  padding: 1rem;
  background-color: rgb(25, 25, 25);
  color: white;
  font-weight: 450;
  font-size: 1.2rem;
}

nav li:first-child {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 0 2rem;
  &:hover {
    border-color: rgba(175, 246, 88, 0.5);
    color: rgba(175, 246, 88, 0.5);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dropdown {
  position: absolute;
  display: none;
  top: 0.7rem;
  right: 1rem;
  background-color: transparent;
}

.dropdown label {
  color: white;
  &:hover {
    color: rgba(175, 246, 88, 0.5);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }
}

.dropdown-toggle {
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-menu {
  position: relative;
  background-color: black;
  list-style: none;
  padding: 0;
  z-index: 999;

  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  margin: 0;
  padding: 1.5rem 2rem;
  color: white;
}

.dropdown-menu li:hover {
  cursor: pointer;
  background-color: rgb(173, 216, 230, 0.7);
  border-color: rgba(175, 246, 88, 0.5);
  transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav ul li:not(:first-child) {
    display: none;
  }

  .dropdown {
    display: block;
  }
}

.dropdown-toggle label {
  font-size: 2em;
}
